@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  #header {
    display: none;
  }
  #icon_header2 {
    display: block;
  }
  #header2 {
    display: block;
  }
  #wrapper .wrapper_content .wrapper_left h4 {
    font-size: 15px;
  }
  #wrapper .wrapper_content .wrapper_left h1 {
    font-size: 47px;
  }
  #contact .contact_right h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 992px) {
  #wrapper .wrapper_content .wrapper_left h4 {
    margin-top: 30px;
  }
  #contact .contact_right {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  #contact form .row:nth-child(2) div:nth-child(2) {
    margin-top: 20px;
  }
}/*# sourceMappingURL=responsive.css.map */