* {
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#ourTeam {
  overflow: hidden;
  width: 100%;
}

.container {
  max-width: 1260px;
}

#loaDing {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 5;
}
#header .header_content {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
}
#header .header_content .logo img {
  width: 80px;
}
#header .header_content nav {
  padding-left: 50px;
  margin-left: auto;
}
#header .header_content nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
}
#header .header_content nav ul li a {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 25px;
  text-decoration: none;
  text-transform: capitalize;
  color: #191919;
  transition: 0.5s;
}
#header .header_content nav ul li a:hover {
  color: #b61984;
}
#header .header_content nav ul li a.active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b61984;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
#header .header_content .nav_contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#header .header_content .nav_contact button {
  font-size: 14px;
  text-transform: capitalize;
  padding: 11px 20px;
  border-radius: 200px;
  border: 1px solid;
  transition: 0.5s;
  box-shadow: 0 0 0 3em #b61984 inset;
  margin: 0 6px;
  color: #fff;
  background-color: #fff;
}
#header .header_content .nav_contact button:hover {
  color: #b61984;
  box-shadow: 0 0 1px #b61984 inset;
}
#header .header_content .nav_contact button i {
  margin-right: 6px;
}
#header .header_content .nav_contact a {
  color: #191919;
  transition: 0.5s;
  margin-left: 12px;
  transition: 0.5s;
}
#header .header_content .nav_contact a:hover {
  color: #b61984;
}

#header.sticky {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#header.sticky .header_content {
  height: 48px;
}
#header.sticky .header_content .logo img {
  display: none;
}
#header.sticky .header_content nav li a {
  padding-top: 15px;
  padding-bottom: 15px;
}
#header.sticky .header_content .nav_contact button {
  padding-top: 8px;
  padding-bottom: 8px;
}

#icon_header2 {
  display: none;
  height: 48px;
  position: fixed;
  width: 100%;
  color: #b61984;
  z-index: 5;
  top: 0;
  left: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  transition: all 0.3s;
}
#icon_header2 .container {
  display: flex;
  align-items: center;
}
#icon_header2 .container label {
  margin-bottom: 0;
}
#icon_header2 .container label i {
  line-height: 48px;
  font-size: 22px;
  margin-right: 12px;
  cursor: pointer;
}
#icon_header2 .container label i:nth-child(1) {
  display: inline-block;
}
#icon_header2 .container label i:nth-child(2) {
  display: none;
}
#icon_header2 .container img {
  width: 48px;
}

#checkbox_header2 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
#checkbox_header2:checked ~ #header2 {
  left: 0;
}
#checkbox_header2:checked ~ #icon_header2 {
  left: 320px;
}
#checkbox_header2:checked ~ #icon_header2 i:nth-child(1) {
  display: none;
}
#checkbox_header2:checked ~ #icon_header2 i:nth-child(2) {
  font-size: 24px;
  display: inline-block;
}
#checkbox_header2:checked ~ #icon_header2 img {
  display: none;
}
#checkbox_header2:checked ~ #wrapper {
  transform: translateX(320px);
}
#checkbox_header2:checked ~ #teacher {
  transform: translateX(320px);
}
#checkbox_header2:checked ~ #contact {
  transform: translateX(320px);
}

#header2 {
  display: none;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  transition: all 0.3s;
  top: 0;
  left: -100%;
}
#header2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 97%;
  width: 20px;
  height: 48px;
  background-color: #fff;
}
#header2 .header2_content {
  width: 320px;
  padding: 0 30px;
  text-align: center;
}
#header2 .header2_content .logo img {
  width: 80px;
}
#header2 .header2_content nav ul {
  list-style: none;
}
#header2 .header2_content nav ul li a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 25px;
  text-decoration: none;
  text-transform: capitalize;
  color: #191919;
  transition: 0.5s;
}
#header2 .header2_content nav ul li a:hover {
  color: #b61984;
}
#header2 .header2_content .nav_contact button {
  font-size: 14px;
  text-transform: capitalize;
  padding: 11px 20px;
  border-radius: 200px;
  border: 1px solid;
  transition: 0.5s;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: #fff;
  background-color: #fff;
  transition: 0.5s;
}
#header2 .header2_content .nav_contact button:hover {
  color: #b61984;
  box-shadow: 0 0 1px #b61984 inset;
}
#header2 .header2_content .nav_contact .nav_contact_icon {
  margin-top: 10px;
}
#header2 .header2_content .nav_contact .nav_contact_icon a {
  color: #191919;
  transition: 0.5s;
  margin-left: 12px;
}
#header2 .header2_content .nav_contact .nav_contact_icon a:hover {
  color: #b61984;
}

#wrapper {
  padding: 62px 0;
  transition: all 0.3s;
  position: relative;
}
#wrapper .wrapper_content {
  align-items: center;
}
#wrapper .wrapper_content .wrapper_left h4 {
  font-size: 17px;
  color: #b61984;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
#wrapper .wrapper_content .wrapper_left h1 {
  font-size: 56px;
  color: #191919;
  font-weight: 700;
}
#wrapper .wrapper_content .wrapper_right img {
  max-width: 100%;
  width: 580px;
}
#wrapper .warpper_bg_before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#wrapper .warpper_bg_before img {
  max-width: 100%;
}
#wrapper .warpper_bg_after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#wrapper .warpper_bg_after img {
  max-width: 100%;
}

#teacher {
  padding-top: 15px;
  background-color: #dcd1f3;
  transition: all 0.3s;
  position: relative;
}
#teacher .teacher_content .col-xl-3 {
  z-index: 1;
}
#teacher .teacher_content .teacher-item {
  margin: 15px 0;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s;
}
#teacher .teacher_content .teacher-item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#teacher .teacher_content .teacher-item .teacher-img {
  overflow: hidden;
}
#teacher .teacher_content .teacher-item .teacher-img img {
  width: 100%;
  transition: all 0.8s;
}
#teacher .teacher_content .teacher-item .teacher-img img:hover {
  transform: scale(1.05);
}
#teacher .teacher_content .teacher-item .teacher_content {
  padding: 30px 30px;
}
#teacher .teacher_content .teacher-item .teacher_content h5 {
  color: #b61984;
  font-size: 12px;
}
#teacher .teacher_content .teacher-item .teacher_content h3 {
  font-size: 24px;
  font-weight: 700;
}
#teacher .teacher_content .teacher-item .teacher_content p {
  font-family: Roboto;
  line-height: 1.3;
}
#teacher .teacher_bg_after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#teacher .teacher_bg_after img {
  max-width: 100%;
}

#contact {
  padding: 60px 0;
  position: relative;
  transition: all 0.3s;
}
#contact .container .contact_content {
  max-width: 1000px;
  margin: 0 auto;
}
#contact .container .contact_left {
  z-index: 1;
}
#contact .container .contact_left img {
  width: 580px;
  max-width: 100%;
}
#contact .container .contact_right {
  z-index: 1;
  display: flex;
  align-items: center;
}
#contact .container .contact_right form {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}
#contact .container .contact_right form .row {
  margin-top: 20px;
}
#contact .container .contact_right form .row span {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 12px;
  border-radius: 200px;
  border: 1px solid rgb(175, 175, 175);
}
#contact .container .contact_right form .row span i {
  padding: 0 10px;
  color: #b61984;
  font-size: 15px;
}
#contact .container .contact_right form .row span input {
  width: 100%;
  padding: 4px;
  border: none;
  outline: none;
}
#contact .container .contact_right form .row span select {
  padding: 4px;
  flex: 1;
  border: none;
  outline: none;
}
#contact .container .contact_right form .row .contact_note {
  border-radius: 15px;
  align-items: flex-start;
  padding: 4px;
}
#contact .container .contact_right form .row .contact_note textarea {
  flex: 1;
  border: none;
  outline: none;
}
#contact .container .contact_right form .row button {
  font-size: 14px;
  text-transform: capitalize;
  padding: 11px 20px;
  border-radius: 200px;
  border: 1px solid;
  transition: 0.5s;
  box-shadow: 0 0 0 3em #b61984 inset;
  width: 100%;
  text-transform: uppercase;
  border-color: #b61984;
  color: #fff;
  font-weight: 600;
}
#contact .container .contact_right form .row button:hover {
  background-color: #fff;
  color: #b61984;
  box-shadow: 0 0 1px #b61984 inset;
}
#contact .contact_bg_img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
#contact .contact_bg_img img {
  width: 100%;
}

footer {
  padding: 120px 0 200px;
  color: #fff;
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
footer .footer_contactUs i {
  font-size: 15px;
  margin-right: 10px;
}
footer .footer_contactUs span {
  font-size: 14px;
}
footer .footer_contactUs .footer_icon i {
  cursor: pointer;
  transition: all 0.5s;
}
footer .footer_contactUs .footer_icon i:hover {
  color: #191919;
}
footer .footer_quick a,
footer .footer_about a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 16px;
  font-size: 14px;
  display: block;
  position: relative;
  transition: all 0.5s;
}
footer .footer_quick a:hover,
footer .footer_about a:hover {
  opacity: 0.7;
}
footer .footer_quick a::before,
footer .footer_about a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 1px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.1);
}
footer .footer_newletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer_newletter button {
  font-size: 14px;
  text-transform: capitalize;
  padding: 11px 20px;
  border-radius: 200px;
  border: 1px solid;
  transition: 0.5s;
  box-shadow: 0 0 0 3em #b61984 inset;
  width: 100%;
}
footer .footer_newletter button:first-child {
  background-color: #b61984;
  color: white;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer_newletter button:last-child {
  font-weight: 600;
  color: #b61984;
  background-color: #b61984;
  box-shadow: 0 0 0 3em #fff inset;
  border: none;
  transition: all 0.5s;
}
footer .footer_newletter button:last-child:hover {
  color: #fff;
  box-shadow: 0 0 0 1px #fff inset;
}/*# sourceMappingURL=style.css.map */