
$xl:1200px;
$lg:992px;
$md:768px;
$sm:576px;

@mixin pc ($type){
    @media screen and (max-width:$type){
        @content;
    }
}


@include pc($xl) {
    .container {
        max-width: 1140px;
    }
    #header {
        display: none;
    }
    #icon_header2 {
        display: block;
    }
    #header2 {
        display: block;
    }
    #wrapper {
        .wrapper_content {
            .wrapper_left {
                h4 {
                    font-size: 15px;
                }
                h1 {
                    font-size: 47px;
                }
            }
        }
    }
    #contact {
        .contact_right {
            h1 {
                font-size: 30px;
            }
        }
    }
}
@include pc($lg) {
    #wrapper {
        .wrapper_content {
            .wrapper_left {
                h4 {
                    margin-top: 30px;
                }
            }
        }
    }
    #contact {
        .contact_right {
            margin-top: 50px;
        }
    }
}


@include pc($md) {
    #contact {
        form {
            .row {
                &:nth-child(2) {
                    div {
                        &:nth-child(2) {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}


@include pc($sm) {
    
}
