// variable
$color-Primary: #b61984;
$color-white: #fff;
$color-Secondary: #191919;
$color-bg-tim: #dcd1f3;

// mixin ~ function
@mixin btn-style {
    font-size: 14px;
    text-transform: capitalize;
    padding: 11px 20px;
    border-radius: 200px;
    border: 1px solid;
    transition: .5s;
    box-shadow: 0 0 0 3em $color-Primary inset;
}
@mixin hover-text {
    color: $color-Primary;
}

//css
* {
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#ourTeam {
    overflow: hidden;
    width: 100%;
}
.container {
    max-width: 1260px;
}
// loading
#loaDing {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}




//header
#header {
    position: fixed;
    width: 100%;
    z-index: 5;
    .header_content {
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        transition: all .5s;
        .logo {
            img {
                width: 80px;
            }
        }
        nav {
            padding-left: 50px;
            margin-left: auto;
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                margin-bottom: 0;
                li {
                    a {
                        position: relative;
                        font-size: 14px;
                        font-weight: 600;
                        padding: 20px 25px;
                        text-decoration: none;
                        text-transform: capitalize;
                        color: $color-Secondary;
                        transition: .5s;
                        &:hover {
                            @include hover-text();
                        }
                    }
                    a.active {
                        &::before {
                            content: "";
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: $color-Primary;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%,50%);
                        }
                    }
                    
                }
            }
        }
        .nav_contact {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            button {
                @include btn-style();
                margin: 0 6px;
                color: $color-white;
                background-color: $color-white;
                &:hover {
                    color: $color-Primary;
                    box-shadow: 0 0 1px $color-Primary inset;
                }
                i {
                    margin-right: 6px;
                }
            }
            a {
                color: $color-Secondary;
                transition: .5s;
                margin-left: 12px;
                transition: .5s;
                &:hover {
                    @include hover-text();
                }
            }
        }
    }
}
#header.sticky {
    background-color: $color-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .header_content {
        height: 48px;
        .logo {
            img {
                display: none;
            }
        }
        nav {
            li {
                a {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
        .nav_contact {
            button {
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }
}
#icon_header2 {
    display: none;
    height: 48px;
    position: fixed;
    width: 100%;
    color: $color-Primary;
    z-index: 5;
    top: 0;
    left: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: $color-white;
    transition: all .3s;
    .container {
        display: flex;
        align-items: center;
        label {
            margin-bottom: 0;
            i {
                line-height: 48px;
                font-size: 22px;
                margin-right: 12px;
                cursor: pointer;
                &:nth-child(1) {
                    display: inline-block;
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }
        img {
            width: 48px;
        }
    }
}
#checkbox_header2 {
    appearance: none;
    position: absolute;
    &:checked ~ #header2 {
        left: 0;
    }
    &:checked ~ #icon_header2 {
        left: 320px;
        i {
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                font-size: 24px;
                display: inline-block;
            }
        }
        img {
            display: none;
        }
    }
    &:checked ~ #wrapper {
        transform: translateX(320px);
    }
    &:checked ~ #teacher {
        transform: translateX(320px);
    }
    &:checked ~ #contact {
        transform: translateX(320px);
    }
}
#header2 {
    display: none;
    background-color: $color-white;
    position: fixed;
    z-index: 2;
    box-shadow: 2px 0 5px rgb(0 0 0 / 10%);
    height: 100vh;
    transition: all .3s;
    top: 0;
    left: -100%;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 97%;
        width: 20px;
        height: 48px;
        background-color: $color-white;
    }
    .header2_content {
        width: 320px;
        padding: 0 30px;
        text-align: center;
        .logo {
            img {
                width: 80px;
            }
        }
        nav {
            ul {
                list-style: none;
                li {
                    a {
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        padding: 12px 25px;
                        text-decoration: none;
                        text-transform: capitalize;
                        color: $color-Secondary;
                        transition: .5s;
                        &:hover {
                            @include hover-text();
                        }
                    }
                }
            }
        }
        .nav_contact {
            button {
                @include btn-style();
                color: $color-white;
                background-color: $color-white;
                transition: .5s;
                &:hover {
                    color: $color-Primary;
                    box-shadow: 0 0 1px $color-Primary inset;
                }
            }
            .nav_contact_icon {
                margin-top: 10px;
                a {
                    color: $color-Secondary;
                    transition: .5s;
                    margin-left: 12px;
                    &:hover {
                        @include hover-text();
                    }
                }
            }
        }
    }
}

// wrapper
#wrapper {
    padding: 62px 0;
    transition: all .3s;
    position: relative;
    .wrapper_content {
        align-items: center;
        .wrapper_left {
            h4 {
                font-size: 17px;
                color: $color-Primary;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;
            }
            h1 {
                font-size: 56px;
                color: $color-Secondary;
                font-weight: 700;
            }
        }
        .wrapper_right {
            img {
                max-width: 100%;
                width: 580px;
            }
        }
    }
    .warpper_bg_before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        img {
            max-width: 100%;
        }
    }
    .warpper_bg_after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            max-width: 100%;
        }
    }
}
// teacher 

#teacher {
    padding-top: 15px;
    background-color: $color-bg-tim;
    transition: all .3s;
    position: relative;
    .teacher_content {
        .col-xl-3 {
            z-index: 1;
        }
        .teacher-item {
            margin: 15px 0;
            background-color: $color-white;
            border-radius: 10px;
            text-align: center;
            overflow: hidden;
            transition: all .5s;
            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
            .teacher-img {
                overflow: hidden;
                img {
                    width: 100%;
                    transition: all .8s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
            .teacher_content {
                padding: 30px 30px;
                h5 {
                    color: $color-Primary;
                    font-size: 12px;
                }
                h3 {
                    font-size: 24px;
                    font-weight: 700;
                }
                p {
                    font-family: Roboto;
                    line-height: 1.3;
                }
            }
        }
    }
    .teacher_bg_after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            max-width: 100%;
        }
    }
}

// contact
#contact {
    padding: 60px 0;
    position: relative;
    transition: all .3s;
    .container {
        .contact_content {
            max-width: 1000px;
            margin: 0 auto;
        }
        .contact_left {
            z-index: 1;
            img {
                width: 580px;
                max-width: 100%;
            }
        }
        .contact_right {
            z-index: 1;
            display: flex;
            align-items: center;
            form {
                background-color: $color-white;
                padding: 20px 20px;
                border-radius: 10px;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                width: 100%;
                .row {
                    margin-top: 20px;
                    span {
                        display: flex;
                        align-items: center;
                        padding: 8px;
                        font-size: 12px;
                        border-radius: 200px;
                        border: 1px solid rgb(175, 175, 175);
                        i {
                            padding: 0 10px;
                            color: $color-Primary;
                            font-size: 15px;
                        }
                        input {
                            width: 100%;
                            padding: 4px;
                            border: none;
                            outline: none;
                        }
                        select {
                            padding: 4px;
                            flex: 1;
                            border: none;
                            outline: none;
                        }
                    }
                    .contact_note {
                        border-radius: 15px;
                        align-items: flex-start;
                        padding: 4px;
                        textarea {
                            flex: 1;
                            border: none;
                            outline: none;
                        }
                    }
                    button {
                        @include btn-style();
                        width: 100%;
                        text-transform: uppercase;
                        border-color: $color-Primary;
                        color: $color-white;
                        font-weight: 600;
                        &:hover {
                            background-color: $color-white;
                            color: $color-Primary;
                            box-shadow: 0 0 1px $color-Primary inset;
                        }
                    }
                }
            }
        }
    }
    .contact_bg_img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        img {
            width: 100%;
        }
    }
}

// footer
footer {
    padding: 120px 0 200px;
    color: $color-white;
    background-image: url(../img/footer_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .footer_contactUs {
        i {
            font-size: 15px;
            margin-right: 10px;
        }
        span {
            font-size: 14px;
        }
        .footer_icon {
            i {
                cursor: pointer;
                transition: all .5s;
                &:hover {
                    color: $color-Secondary;
                }
            }
        }
    }
    .footer_quick,
    .footer_about {
        a {
            color: $color-white;
            text-decoration: none;
            margin-bottom: 16px;
            font-size: 14px;
            display: block;
            position: relative;
            transition: all .5s;
            &:hover {
                opacity: .7;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                height: 1px;
                width: 70px;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
    .footer_newletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            @include btn-style();
            width: 100%;
            &:first-child {
                background-color: $color-Primary;
                color: white;
                margin-bottom: 10px;
                border: 1px solid rgba(255, 255, 255,.1);
            }
            &:last-child {
                font-weight: 600;
                color: $color-Primary;
                background-color: $color-Primary;
                box-shadow: 0 0 0  3em $color-white inset;
                border: none;
                transition: all .5s;
                &:hover {
                    color: $color-white;
                    box-shadow: 0 0 0 1px $color-white inset;
                }
            }
        }
    }
}

